.news,
.article {
  overflow: hidden;
  width: 100%;
  padding: 30px 80px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.newDetail {
  padding-right: 20px;
  height: 450px;
  width: 25%;
}

.cardList {
  display: flex;
  justify-content: center;
}

.allItems {
  display: flex;
  flex-wrap: wrap;
}

.allItems .newDetail {
  width: 25%;
}

@media (max-width: 768px) {
  .newDetail {
    padding-right: 20px;
    width: 100%;
  }

  .cardList {
    justify-content: flex-start;
  }
}
