/* .navbar {
  width: 100%;
  height: 54px;
  padding: 4px 80px;
  background: var(--ktb-solid-krungthai-blue);
  color: #ffffff;
  align-items: center;
}
.navbarRow {
  display: flex;
  flex-direction: row;
  gap: 56px;
}
.navbarRow li a {
  list-style-type: none;
  color: #ffffff;
  text-decoration: none;
}
.navbarRow li a:hover {
  color: #d4d4d4;
}
.navbarColumn {
  display: none;
  background-color: var(--ktb-solid-krungthai-blue);
  padding: 8px 24px 16px 24px;
  border-radius: 8px;
}

.subNnav {
  position: absolute;
  background-color: var(--ktb-solid-krungthai-blue);
  padding: 8px 24px 16px 24px;
  border-radius: 8px;
  list-style: none;
  width: 230px;
  display: none;
}

.navLi {
  position: relative;
}
.navLi:hover .subNnav {
  display: flex;
  flex-direction: column;
  gap: 8px;
} */

/* Extra */
.main-bg {
  background: var(--ktb-solid-krungthai-blue);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}
.logo {
  max-width: 200px;
}
.navbar {
  align-items: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  padding: 10px 80px;
  z-index: 1000;
  position: fixed;
  width: 100%;
}
.push-left {
  margin-left: auto;
}
/* Menu */
.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  outline: none;
  height: 30px;
  position: relative;
  width: 30px;
  z-index: 1000;
}
.menu-item {
  display: flex;
  align-items: center;
}
.icon_image {
  background-image: url('/assets/icons/ep_arrow-down.svg');
  width: 12px;
  height: 12px;
}
@media screen and (max-width: 768px) {
  .dropdown {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .hamburger {
    display: inline-block;
  }
  .navbar {
    padding: 10px 20px;
  }
  .nav-menu .menu-item a {
    color: #262626 !important;
    font-size: 16px;
  }
  .icon_image {
    background-image: url('/assets/icons/icon-park_hamburger-top.svg');
    width: 36px;
    height: 36px;
  }
}
.hamburger-line {
  background: #ffffff;
  height: 3px;
  position: absolute;
  left: 0;
  transition: all 0.2s ease-out;
  width: 100%;
}
.hamburger:hover .hamburger-line {
  background: #ffffff;
}
.hamburger-line-top {
  top: 3px;
}
.menu-active .hamburger-line-top {
  top: 50%;
  transform: rotate(45deg) translatey(-50%);
}
.hamburger-line-middle {
  top: 50%;
  transform: translatey(-50%);
}
.menu-active .hamburger-line-middle {
  left: 50%;
  opacity: 0;
  width: 0;
}
.hamburger-line-bottom {
  bottom: 3px;
}
.menu-active .hamburger-line-bottom {
  bottom: 50%;
  transform: rotate(-45deg) translatey(50%);
}
.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.25s ease-in;
  padding-right: 190px;
  gap: 56px;
}
@media screen and (max-width: 768px) {
  .nav-menu {
    background: #fff;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 0;
    position: absolute;
    top: 64px;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translatey(-100%);
    text-align: left;
    padding-right: 0;
    gap: 0;
  }
  .menu-active .nav-menu {
    transform: translatey(0%);
    opacity: 1;
  }
}
.nav-menu .menu-item a {
  color: #ffffff;
  display: block;
  line-height: 30px;
  margin: 0px 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-menu .menu-item a:hover {
  color: #d4d4d4;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .nav-menu .menu-item a {
    font-size: 16px;
    margin: 8px;
  }
}
.sub-nav {
  display: none;
  position: absolute;
  background: var(--ktb-solid-krungthai-blue);
  padding: 8px 24px 16px 24px;
  border-radius: 0 0 8px 8px;
  list-style: none;
  width: 260px;
}
@media screen and (max-width: 768px) {
  .sub-nav {
    position: relative;
    width: 100%;
    display: none;
    box-sizing: border-box;
    background: #ffffff;
    padding-left: 0;
  }

  .menu-item {
    border-bottom: 1px solid #f0f0f0;
  }
  .sub-nav .menu-item {
    border: none;
  }
}
.nav__link:hover .sub-nav {
  display: block;
}
.sub-nav:hover {
  display: flex;
  gap: 8px;
}
.menu-item:hover .icon_image {
  transform: rotate(180deg);
}
