.main-bg {
  background: var(--ktb-solid-krungthai-blue);
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
}
.page-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}
.logo {
  max-width: 200px;
}
.navbar {
  align-items: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  padding: 10px 80px;
  z-index: 1000;
  position: fixed;
  width: 100%;
  z-index: 99999;
}
.push-left {
  margin-left: auto;
}
/* Menu */
.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  outline: none;
  height: 30px;
  position: relative;
  width: 30px;
  z-index: 1000;
}
.menu-item {
  display: flex;
  align-items: center;
}
.icon_image {
  background-image: url('/assets/icons/ep_arrow-down.svg');
  width: 12px;
  height: 12px;
}

.hamburger-line {
  background: #ffffff;
  height: 3px;
  position: absolute;
  left: 0;
  transition: all 0.2s ease-out;
  width: 100%;
}
.hamburger:hover .hamburger-line {
  background: #ffffff;
}
.hamburger-line-top {
  top: 3px;
}
.menu-active .hamburger-line-top {
  top: 50%;
  transform: rotate(45deg) translatey(-50%);
}
.hamburger-line-middle {
  top: 50%;
  transform: translatey(-50%);
}
.menu-active .hamburger-line-middle {
  left: 50%;
  opacity: 0;
  width: 0;
}
.hamburger-line-bottom {
  bottom: 3px;
}
.menu-active .hamburger-line-bottom {
  bottom: 50%;
  transform: rotate(-45deg) translatey(50%);
}
.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.25s ease-in;
  padding-right: 190px;
  gap: 1.4rem;
}

.nav-menu .menu-item a {
  color: #ffffff;
  display: block;
  line-height: 30px;
  margin: 0px 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-menu .menu-item a:hover {
  color: #d4d4d4;
  text-decoration: none;
}

.sub-nav {
  display: none;
  position: absolute;
  background: var(--ktb-solid-krungthai-blue);
  padding: 8px 24px 16px 24px;
  border-radius: 0 0 8px 8px;
  list-style: none;
  width: 260px;
  top: 1.5rem;
}

.nav__link:hover ~ .sub-nav {
  display: block;
}
.sub-nav:hover {
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}
.menu-item:hover .icon_image {
  transform: rotate(180deg);
}
.active {
  display: none;
}
@media screen and (max-width: 768px) {
  .active {
    height: 40px;
    display: block;
  }
  .sub-nav {
    pointer-events: none;
  }
  .navbar .active:checked + .sub-nav {
    display: block;
  }
  /* .dropdown {
    pointer-events: none;
  } */
  .sub-nav {
    position: relative;
    width: 100%;
    display: none;
    box-sizing: border-box;
    background: #ffffff;
    padding-left: 10px;
  }

  .navbar ul li {
    border-bottom: 1px solid #f0f0f0;
  }
  /* .sub-nav .menu-item {
    border: none;
  } */
  .nav-menu .menu-item a {
    font-size: 16px;
    margin: 8px;
  }
  .nav-menu {
    background: #ffffff;
    flex-direction: column;
    justify-content: flex-start;
    display: none;
    position: absolute;
    top: 64px;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translatey(-100%);
    text-align: left;
    padding-right: 0;
    gap: 0;
    height: 100vh;
    overflow-y: scroll;
  }
  .menu-active .nav-menu {
    transform: translatey(0%);
    opacity: 1;
    display: flex;
  }
  .dropdown {
    padding: 4px 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    position: relative;
  }
  .dropdown::after {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    right: 10px;
    top: 5px;
    background-image: url('/assets/icons/icon-park_hamburger-buttom.svg');
    background-repeat: no-repeat;
  }
  .navbar .dropdown:has(:is(.active:checked))::after {
    transform: rotate(180deg);
  }
  .hamburger {
    display: inline-block;
  }
  .navbar {
    padding: 10px 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  .nav-menu .menu-item a {
    color: #262626 !important;
    font-size: 16px;
  }
  .icon_image {
    background-image: url('/assets/icons/icon-park_hamburger-top.svg');
    width: 36px;
    height: 36px;
  }
}
