.textCrumb {
  color: var(--typo-third-typo, #7B7B7B);
  /* 🅷 Krungthai fast/Regular/Label */
  font-size: 1rem;
  font-family: Krungthai Fast;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
