@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables.module.scss';


//theme
// import "primereact/resources/themes/lara-light-indigo/theme.css";

// //core
// import "primereact/resources/primereact.min.css";


@font-face {
  font-family: 'Krungthai Fast';
  src: url('/assets/font/KrungthaiFastWeb-Regular.woff') format('woff'),
    url('/font/DB Lim X Bd It v3.2.1.ttf') format('truetype'),
    url('/font/KrungthDB Lim X Bd v3.2.1.woff') format('truetype'),
    url('/font/DB Lim X It v3.2.1.ttf') format('truetype'), url('/font/DB Lim X Med It v3.2.1.ttf') format('truetype'),
    url('/font/DB Lim X Med v3.2.1.ttf') format('truetype'), url('/font/DB Lim X v3.2.1.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --ktb-solid-krungthai-blue: #00a6e6;
  --padding-mobile-page: 16px;
}

body {
  font-family: 'Krungthai Fast';
  color: rgb(var(--foreground-rgb));
  position: relative;
}

.menuButton {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 14px;
  display: none;
  background: none;
  margin-right: 10px;
}

.ant-drawer-body {
  padding: 0;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}
.ant-menu-light > .ant-menu.ant-menu-submenu > .ant-menu {
  background-color: #00a6e6;
}
.username {
  display: none;
  margin-left: 8px;
}

@media (max-width: 767px) {
  .menuButton {
    display: block;
    margin-right: 0;
    margin-top: 0;
    padding: 0 10px 0 0;
    color: #ffffff;
  }

  .leftMenu,
  .rightMenu {
    display: none;
  }

  .logo a {
    margin-left: -10px;
  }

  .ant-drawer-title > .brand-font {
    margin-bottom: 0;
  }

  .username {
    display: inline-block;
  }
}
ul li {
  list-style-type: none;
}
.banner {
  background-image: url('/assets/images/banner-bg.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 789px;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  transition: 0.3;
}
.banner-image {
  width: 100%;
  height: 100%;
  position: relative;
}
.banner-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.fream1 {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.flex {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.flex-sb {
  justify-content: space-between;
}
.mt-8 {
  margin-top: 8px;
}
.mt-64 {
  margin-top: 64px;
}
.align-baseline {
  align-items: baseline;
}
.scroll-down {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  width: 130px;
  height: 30px;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, 0px);
  opacity: 1;
  z-index: 10;
}
/* .banner:hover .scroll-down {
  animation: totop 1s;
}
.banner:hover .banner-image {
  animation: bannerShow 2s;
} */
.banner-animation .scroll-down {
  bottom: 36px;
}
.banner-animationOut .scroll-down {
  opacity: 0;
}

.banner-animation .scroll-down {
  animation: totop 1s;
}
.banner-animation {
  opacity: 1;
  animation: bannerShow 2s;
  background-image: url('/assets/images/KTBL-logo2.png');
}

.banner-animationOut .scroll-down {
  animation: todown 3s;
}
.banner-animationOut .banner-image {
  opacity: 0;
  transition: 0.2;
  animation: bannerNotShow 3s;
}
@keyframes totop {
  from {
    transform: translate(-50%, 70px);
    opacity: 0;
  }
}
@keyframes todown {
  to {
    transform: translate(-50%, 0px);
    opacity: 0;
  }
}
@keyframes bannerShow {
  from {
    background-image: url('/assets/images/banner-bg.png');

    opacity: 1;
  }
}
@keyframes bannerNotShow {
  from {
    opacity: 1;
  }
}
.scroll-down a {
  text-decoration: none;
  color: #ffffff;
}
.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 700px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
.gap-20 {
  gap: 20px;
}
.gap-8 {
  gap: 8px;
}

@media (max-width: 768px) {
  .banner {
    background-image: url('/assets/images/banner-mobile.png');
  }
  .nav-header {
    justify-content: space-between;
    padding-inline: 10;
  }
  .banner-image {
    display: none;
  }
}
.navbar .ant-layout-header {
  /* background-color: transparent; */
}

.mr-18 {
  margin-right: 18px;
}
.mt-4 {
  margin-top: 4px;
}
.float-label {
  position: relative;
  margin-bottom: 12px;
}

.label {
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 12px;
  top: 50%;
  transform: translate(0, -50%);
  transition: 0.2s ease all;
}
input:not(:placeholder-shown) + .label-float {
  top: -10px;
  font-size: 10px;
  background-color: white;
  padding: 2px 4px;
  font-weight: 600;
}

/* .label-float {
  top: -10px;
  font-size: 10px;
  background-color: white;
  padding: 2px 4px;
  font-weight: 600;
} */
.flex-w {
  flex-wrap: wrap;
}

.color-primary {
  color: $primary-color;
}

.slideWraper {
  .slick-list {
    padding: 0px !important;
    height: 100% !important;
  }
  .slick-slide {
    padding: 10px 8px;
  }
}

select.camil {
  background: url('/assets/images/icon-arrow-dd-gray.png') 94% no-repeat rgba(0,0,0,.2)!important;
  background-size: 17px!important;
  color: #FFF;
  border: none;
  font-size: 18px;
  height: 50px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 55px 10px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;

  &:focus {
    outline: none;

  }
}

.block-icon {
  display: flex;
  align-items: center;
  .icon {
    margin-right: 5px;
    height: fit-content;
  }
}
