.ourServices {
  width: 100%;
  background: linear-gradient(180deg, #ffffff 0%, #acccdd 100%);
  padding: 30px;
}

.title {
  padding-bottom: 16px;
  color: #0b7199;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  justify-content: center;
}
.itemList {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: row;
}

.items {
  position: relative;
}

.itemLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  transform: translate(-50%, -50%);

  font-weight: 700;
  font-size: 28px;
}

.itemImage {
  height: 100%;
  width: 100%;
}
