.rectangle {
  position: relative;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.level1 {
  width: 50%;
  margin: 0 auto 40px;
  background: #3d7db7;
}

.level1::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px;
  background: #000;
}

/* LEVEL-2 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.level2Wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.level2Wrapper::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 5%;
  width: 90%;
  height: 2px;
  background: #000;
}

.level2Wrapper::after {
  display: none;
  content: '';
  position: absolute;
  left: -20px;
  bottom: -20px;
  width: calc(100% + 20px);
  height: 2px;
  background: #000;
}

.level2Wrapper li {
  position: relative;
}

.level2Wrapper > li::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px;
  background: #000;
}

.level2,
.level2Alone {
  width: 86%;
  margin: 0 auto 40px;
  background: #14cbf9;
}

.level2::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px;
  background: #000;
}

.level2::after {
  display: none;
  content: '';
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-100%, -50%);
  width: 20px;
  height: 2px;
  background: #000;
}

/* LEVEL-3 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.level3Wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.level3Wrapper::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 6%;
  width: 88%;
  height: 2px;
  background: #000;
}

.level3Wrapper > li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 2px;
  height: 20px;
  background: #000;
}

.level3 {
  margin-bottom: 20px;
  background: #7294cf;
}

/* LEVEL-4 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.level4Wrapper {
  position: relative;
  width: 80%;
  margin-left: auto;
}

.level4Wrapper::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  width: 2px;
  height: 98%;
  background: #000;
}

.level4Wrapper li + li {
  margin-top: 20px;
}

.level4 {
  font-weight: normal;
  background: #dbe7f2;
}

.level4::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-100%, -50%);
  width: 20px;
  height: 2px;
  background: #000;
}
