.bnProduct {
  background-image: url('/assets/images/supper.graphic-ktbl01+04.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
  padding-left: 80px;
  width: 100%;
  /* height: 878px; */
  padding-bottom: 100px;
}
.header {
  font-weight: 700;
  font-size: 24px;
  color: #262626;
  margin-top: 33px;
  margin-bottom: 4px;
}
.bnProduct h2 {
  color: #00a6e6;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 0;
  text-shadow: 1px 1px 1px rgba(43, 73, 107, 0.12), 2px 4px 8px rgba(0, 128, 189, 0.2);
}
.bnProduct h3 {
  color: #00a6e6;
}
.bnProduct ul .itemTitle {
  color: #262626;
  font-weight: 700;
  font-size: 16px;
}
.description {
  color: #7b7b7b;
  font-weight: 400;
  font-size: 14px;
  width: 542px;
  margin-top: 4px;
}

.bnProduct ul li {
  color: #484848;
  font-weight: 400;
  font-size: 14px;
}

.item {
  margin-bottom: 12px;
}

.breadcrumb {
  margin-top: 6px;
  font-weight: 400;
  font-size: 16px;
}
.imageLeft {
  text-align: center;
}

.imageLeft img {
  max-width: 100%;
}

.contentRight {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin-right: auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 522px;
}

.productInfo {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 5.94%, rgba(0, 0, 0, 0.69) 59.82%, #000 100%),
    url('/assets/images/mixlandspace.png');
  height: 678px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding-left: 80px;
  clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
  position: relative;
}

.itemDetail {
  display: flex;
}

.titleProduct {
  font-size: 22px;
  font-weight: 700;
  color: #00a6e6;
}

.contentProduct {
  color: #e1e1e1;
  font-size: 14px;
}
.btnMobile {
  display: none;
}
.titleMobile {
  display: none;
}
.viewText {
  width: 538px;
}
.carMobile {
  display: none;
}
@media screen and (max-width: 768px) {
  /* .bnProduct {
    padding-left: 10px;
    text-align: center;
    clip-path: none;
    height: auto;
  } */
  .bnProduct {
    background: transparent;
    padding-left: 0;
    clip-path: none;
    text-align: center;
    width: 100%;
  }
  .bnProduct .block {
    background: url('/assets/images/bn_mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  .button {
    width: 90%;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
  .title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    width: 100%;
  }
  .content {
    text-align: center;
  }
  .titleProduct {
    font-size: 18px;
  }
  .itemDetail {
    align-items: flex-start;
  }
  .itemDetail ul li {
    border-bottom: none;
  }
  .contentProduct {
    color: #cacaca;
    font-size: 18px;
    width: 90%;
  }

  .viewText {
    width: 100%;
  }
  .btnWeb {
    display: none;
  }
  .btnMobile {
    display: block;
  }
  .description {
    width: 100%;
  }
  .item {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .productInfo {
    clip-path: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 1.86%, rgba(0, 0, 0, 0.45) 14.31%, #000 25.52%);
    background-position: top;
    padding-left: 20px;
    position: relative;
    height: 100vh;
    flex-direction: column;
  }
  .viewCar {
    justify-content: flex-end;
  }
  .car2,
  .car1 {
    display: none;
  }
  .carMobile {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 20vh;
  }
  .carMobile img {
    width: 100%;
    height: 20vh;
  }
  .viewCar {
    position: absolute;
    top: 30vh;
  }
  .car2 {
    right: 30%;
  }

  .content {
    width: 390px;
    padding: 10px;
  }
  .blockItem {
    background-color: white;
    margin-left: -10px;
    margin-top: 10px;
    padding: 30px 10px;
  }
  .titleMobile {
    display: block;
  }
  .block {
    height: 75vh;
  }
}

.car2 {
  position: absolute;
  right: 10%;
  bottom: 5%;
}
.car1 {
  position: absolute;
  right: 0;
  bottom: 5%;
}
@keyframes carOne {
  from {
    right: -40%;
  }
}
@keyframes cartwo {
  from {
    right: -15%;
  }
}

.inView .car1 {
  animation: carOne 0.5s;
}
.inView .car2 {
  animation: cartwo 0.5s;
  animation-delay: 0.3;
}

.inView li {
  animation: textShow 0.5s;
}
@keyframes textShow {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  50% {
    opacity: 1;
  }
}
