.footer {
  padding-top: 40px;
  background-image: url("/assets/images/foodter-bg.jpg");
  background-repeat: no-repeat;
  height: 426px;
  background-size: cover;
  justify-content: center;
}
.footer h3 {
  color: #0b7199;
  color: #0b7199;
}
.footer li {
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer li a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #484848;
}
.footer li .phone {
  color: #0080bd;
  font-weight: 700;
  font-size: 24px;
}
.company {
  color: #7b7b7b;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}
