.hproduct {
  background: url("/assets/images/product-bg.jpg"),
    linear-gradient(
      180deg,
      #c3e7f3 0%,
      rgba(255, 255, 255, 0.69) 24.47%,
      rgba(255, 255, 255, 0) 43.46%
    );
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 789px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 54px;
  justify-content: space-between;
  position: relative;
}
.productTitle {
  color: #0b7199;
  font-weight: 700;
  font-size: 24px;
}
.productList {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
  color: #262626;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.contentTitle {
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}
.contentDescription {
  color: #e1e1e1;
  font-size: 18px;
  font-weight: 400;
}
.content {
  margin-bottom: 64px;
  gap: 20px;
}
.active {
  border-bottom: 4px solid #0b7199;
}
