.director {
  .item-director {
    border-radius: 6px;
    background: var(--solid-white-fff, #fff);
    box-shadow: 1px 4px 10px 0px rgba(43, 73, 107, 0.08), 1px 2px 3px 0px rgba(43, 73, 107, 0.04);
  }
  .item-director + .item-director {
    margin-top: 46px;
  }
  h1 {
    color: #262626;
    font-size: 24px;
    font-weight: 700;
  }
}
