.newsWrapper {
  padding-top: 115px;
  .block1 {
    position: relative;
    @apply container mx-auto text-center;
    h1 {
      @apply text-3xl;
      color: #00A4E4!important;
    }
    .backbtn {
      background: #00A4E4;
    }
  }
  .block2 {
    background: url('/assets/images/news/bg-detail-1.jpg') no-repeat;
    background-size: 100%;
    margin-top: -5%;
    padding-top: 11%;
    .bodyWraper {
      @apply container mx-auto;
      .newTitle {
        color: #00A4E4!important;
        @apply text-4xl;
        line-height: 1.5;
      }
      .createDate {
        @apply text-xl;
        color: #043d5d!important;
      }
      .contentWraper {
        padding-top: 32px;
        img {
          @apply mx-auto;
        }
        .content {
          color: #043d5d;
          line-height: 1.5;
          @apply text-justify;
        }
      }
    }
  }

  .block3 {
    margin-top: 30px;
    background-image: url('/assets/images/news/part-bg-1-1.jpg'),url('/assets/images/news/part-bg-1-2.jpg');
    background-position: left top,right bottom;
    background-color: #fafafa;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 50px 0;
    overflow: hidden;
    .wrapper {
      @apply container mx-auto;
      .header {
        margin-bottom: 30px;
        @apply text-4xl font-bold;
        color: #00A4E4!important;
      }
      .slideWraper {
      }
    }
  }

  @media (max-width: 576px) {
    & {
      padding-top: 85px;
    }
    .block1 {
      .backbtn {
        left: 10px;
      }
    }
    .block2 {
      @apply container;
      padding-left: 10px;
      padding-right: 10px;
      .bodyWraper {
        .newTitle {
          @apply text-2xl;
          line-height: 1.2;
        }
        .createDate {
          font-size: 1.1rem;
        }
      }
    }
  }
}
